.primary-nav {
  padding-top: 10px;

  @media (min-width: 530px) {
    padding-top: 0px;
  }

  &--pull-right {
    @media (min-width: 530px) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;

    @media (min-width: 530px) {
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;
    @media (min-width: 530px) {
      padding-right: 20px;
    }
  }

  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    display: block;
    // padding: 10px 0;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba($mainBlue, 0.5);

    @media (min-width: 530px) {
      font-size: 1rem;
      font-weight: 400;
      padding-right: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: transparent;
    }
  }

  // a.reveal-item {
  //   color: $mainOrange;
  // }
}
