.row {
  @include clearfix;

  // img {
  //   box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  // }

  &--shadow {
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  }

  &--t-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @media (min-width: 800px) {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.3%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
    // background-color: aliceblue;
  }

  // Begin Equal Height Rules
  &--equal-height-at-medium {
    @media (min-width: 800px) {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
