.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  // background-color: black;
  background-color: rgba(47, 85, 114, 0.7);

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: $mainBlue;
    padding: 20px 30px;
    // padding: 25px 36px;
  }
}
