@import './src/scss/_variable.scss';
@import './src/scss/_mixins.scss';
@import './src/scss/_large-hero.scss';
@import './src/scss/_btn.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: blue;
}
