@import './src/scss/_variable.scss';
@import './src/scss/_mixins.scss';
@import './src/scss/_large-hero.scss';
@import './src/scss/_btn.scss';
@import './headline';

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-section {
  padding: 1.2rem 0;

  @media (min-width: 800px) {
    padding: 3rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: #fff;
  }
}
